[submodule "external/spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog
        ignore = dirty
[submodule "external/spdlog_setup"]
	path = external/spdlog_setup
	url = https://github.com/Stehfyn/spdlog_setup
	ignore = dirty
[submodule "external/compile-time-regular-expressions"]
	path = external/compile-time-regular-expressions
	url = https://github.com/hanickadot/compile-time-regular-expressions
